<th:block th:fragment="modalHitoryTransfer">
     <div class="modal fade" id="mdHistoryTransfer" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
            data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal History Transfer</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table id="tbHistoryTransfer" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Sender ID</th>
                                    <th>Recipient ID</th>
                                    <th>Fees (%)</th>
                                    <th>Fees Amount</th>
                                    <th>Transfer Amount</th>
                                    <th>Transaction Amount</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
    </div>

</th:block>